{{ define "main" }}
<div class="container">
  <div class="row">

    <div class="col-14">

      {{/* Title */}}
      <h4>{{ .Title }}</h4>

      {{/* Description if available */}}
      {{ with .Params.description }}
        <p class="lead">{{ . }}</p>
      {{ end }}

      {{/* Author + Date */}}
      <p class="text-muted mb-4">
        {{ with .Params.author }}<strong>{{ . }}</strong>{{ end }}
        {{ if and (.Params.author) (.Date) }} — {{ end }}
        {{ if .Date }}
          <time datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ end }}
      </p>

      <hr class="mb-4"></hr>


    {{/* On small screens, TOC first (full width); on desktop, sidebar */}}
    <div class="order-0 d-block d-xl-none col-12 col-xl-3 td-toc mb-4 mb-xl-0">
      {{ partial "toc.html" . }}
    </div>

    {{/* Blog content area */}}
    <div class="order-1 order-xl-1 col-14 col-xl-14">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
