---
title: Local
linkTitle: Local
menu:
  main:
    weight: 20
---

{{< blocks/cover title="Resources, ideas, and support for building and improving the local community." image_anchor="bottom" height="min" >}}

<!-- {{< figure src="links.png" width=100 height=100 title="Useful links" >}} -->

{{< blocks/section color="dark" >}}
{{< feature-row >}}

{{% blocks/feature icon="fa-link" title="Useful Links" url="links" %}}
Links that are useful for local community planning and involvement.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-regular fa-tree" title="Our Green Environment" url="green/" %}}
Thoughts and ideas on making and maintaining our green community.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-city" title="Livable City" url="city" %}}
Making our city livable and sustainable. This includes diversifying our transportation and housing options.
{{% /blocks/feature %}}

{{< /feature-row >}}
{{< /blocks/section >}}

{{< /blocks/cover >}}




{{< blocks/section color="primary" >}}
{{< feature-row >}}

{{% blocks/feature icon="fa-solid fa-users" title="Governance" url="governance" %}}
Not yet
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-chart-line" title="Economics" url="economy" %}}
Not yet
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-handshake" title="Help out" url="help" %}}
Not yet
{{% /blocks/feature %}}

{{< /feature-row >}}
{{< /blocks/section >}}




