+++
title = "Werk Space"
linkTitle = "Dalton's Documentation"

+++

{{< blocks/cover title="Welcome to Werk Space: The gathering place for all of daltons.ai, Intellamech, and Gary's Documentations." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/gary-dalton/public-documents">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Digital services | Machine learning | Mathematics | Maker</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
These gather into a single place all of my documentations covering diverse topics such as Mathematics, Programming, Server IT, Machine learning, Maker projects, Raspberry pi, and others.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Deep reinforcement learning!" %}}
The documents have sections devoted to various machine learning topics.

Follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions and comments!" %}}
I do [Pull Requests](https://github.com/gary-dalton/public-documents/pulls) and [Issues/comments](https://github.com/gary-dalton/public-documents/issues) on **GitHub**.

All users are welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/gfdalton" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}


<!--
{{< blocks/section >}}
{{< /blocks/section >}}



{{< blocks/section >}}
{{< /blocks/section >}}

{{< blocks/section >}}

{{< /blocks/section >}}
-->