/* body {
    font-size: 20px;
    font-family: "Segoe UI", sans-serif;
    line-height: 1.8;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
code {
    font-size: 13px;
    font-family: "Courier New", monospace;
} */
